@import '../common/variable.scss';

.navbar {   
    padding: 1rem; 
    & .cart-quantity {
        position: absolute;
        top:-10px;
    }
    & .nav-link {
        color: $text-color-nav;
    }
    & .cart-container {
        color: $text-color-nav;        
        position: relative;
    }
    & .cart,
    & .humberger-menu {
        color: $text-color-nav;
    }
    & .navbar-toggler {
        outline: 0;
    }
    & .navbar-collapse {
        justify-content: flex-end;
        padding: 0 20px 0 0;
    }
    & .dropdown-menu {
        border:0;
        
    }
    & .dropdown-item {
        color: $text-color-nav;
    }
    & .dropdown-item:hover {
        color: $primary3;
    }
}

@media (min-width: $breakpoint-desktop) {
    .navbar{
        & .cart-container {
            margin-left: 20px;
            border-left: 1px solid $text-color-nav;
            padding-left: 20px;
        }        
    }
}


