@import '../common/variable.scss';

.container{
    & .card-img-top {
        max-height: 344px;
    }
    & .card {
        margin-bottom: 20px;
    }
    & .view-product {
        background-color: $primary2;
        padding: 10px;
        color:$text-color-nav;
        text-decoration: none;
    }
}

@media (min-width: $breakpoint-tablet) {
    .container{
        & .card-img-top {
            max-height: 344px;
        }        
    }
}
