$text-color-nav: hsl(0, 0%, 100%);
$primary1: #c7ccc7;
$primary2: #206f7c;
$primary3:#6c757d;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 481px;



#__next  .bg-info {
    background-color: $primary2 !important;
}