@import '../common/variable.scss';

.gift-card-container {
    margin-bottom:20px;
    & .title {
        text-align: center;
        color:$primary3;
        font-size: 36px;
    }
    & .title span{
        border-bottom:1px solid $primary1;
    }

    & .description {
        color:$primary3;
        font-size: 20px;
        word-break: break-all;
        line-height: 1.2;
    }
}